# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vue、React build output
dist/
build/
node_modules/
uni_modules/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
